!!! 5
html(lang='es')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(description='Es un miniproyecto derivado del curso de #mejorfront')
    meta(name='viewport', content='width=device-width')
    link(href='css/style.css', rel='stylesheet')
    script(src='modernizr.js')
    script(src='js/main.js')
    title Puls3
  body
    header
      figure#logo
        img(src='img/puls3.gif', alt='Puls3', title='Puls3')
      #titulo_nav
        h1 Puls3
        nav
          a(href='#') Inicio
          a(href='#') Inicio
          a(href='#') Inicio
          a(href='#') Inicio
          a(href='#') Inicio
      figure#avatar
        a(href='#')
          img(src='img/mike.jpg', alt='avatar', title='avatar')
  footer
